:root {
  --dot-one: #eb68a7;
  --dot-two: #fdb7c1;
  --dot-three: #fef490;
  --dot-four: #d1b3eb;
  --dot-five: #b3ebd6;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
}

.loader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  height: 70%;
  /* animation: all-rotate 1.5s ease-in-out 0.1s infinite; */
}

div > div {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

div > div:nth-child(1) {
  background-color: var(--dot-one);
}

div:nth-child(2) {
  background-color: var(--dot-two);
}

div:nth-child(3) {
  background-color: var(--dot-three);
}

div:nth-child(4) {
  background-color: var(--dot-four);
}

div:nth-child(5) {
  background-color: var(--dot-five);
}

@keyframes loader-rotate-up {
  100% {
    transform: rotate(90deg);
  }
}

@keyframes loader-rotate-down {
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes blink-animation {
  0% {
  }
  25% {
    visibility: hidden;
  }
  50% {
  }
  75% {
    visibility: hidden;
  }
  100% {
  }
}
